body {
    background-color: #d9e5e9;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    text-align: center;
    margin-bottom: 20px;
    font-family: Courier New, monospace;
}
footer p {
    margin: 5px 0;
    color: #6091a1;
}
nav {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    padding: 25px;
    font-family: Courier New, monospace;
}
nav a {
    text-decoration: none;
    color: #366372;
}
.mainpage {
    color: #366372;
    font-family: Courier New, monospace;
    text-align: center;
}
.mainpage h1 {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-size: 100px;
    margin-bottom: 60px;
    color: #1e4b5a;
}
.maintext {
    font-size: 30px;
    margin: 5px 0;
}
.mainpage label {
    display: block;
    margin-top: 60px;
    font-size: 30px;
}
#userName {
    width: 300px;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 60px;
}
.mainpage input {
    font-family: Courier New, monospace;
    font-size: 20px;
    border: 2px solid #aa81a1;
}
.button-chooseproduct {
    font-family: Courier New, monospace;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
    padding: 30px;
    border-radius: 14px;
    width: 500px;
    border-color: #aa81a1;
    background-color: #f7e3ea;
    color: #aa81a1;
    transform: translateY(0);
    transition: 0.3s;
}
.button-chooseproduct:hover {
    background-color: #aa81a1;
    color: #ffffff;
    transform: translateY(5px);
}